@import '@css/variables.css';

.button {
  padding: 14px 32px;
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: transparent;
}

.solid {
  border: none;
  padding: 0;
}

.primary {
  background-color: var(--main-color);
  color: var(--white);
  border: none;
}

.primary:hover {
  background-color: var(--hover-on-main-color);
}

.whiteButton {
  background-color: var(--white);
}

.outline {
  border: 1px solid var(--outline-color);
  color: var(--outline-button-text-color);
}

.outline:hover {
  background-color: var(--outline-hover);
}
