.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightMenu {
  display: flex;
  align-items: center;
  gap: 74px;
}

.rightMenu__item {
  position: relative;
  text-decoration: none;
}

.rightMenu__item::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
}

.rightMenu__item_active::after {
  background-color: var(--main-color);
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 50px;
  width: 150px;
}

.mobileMenu {
  display: none;
}

@media (width < 768px) {
  .rightMenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
}
