.banner {
  padding: 40px 48px;
  background-color: var(--main-color);
  max-width: 252px;
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.banner__item {
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.banner__item_mainTitle {
  display: flex;
  font-size: var(--font-size-xl);
}

.banner__item_subTitle {
  display: flex;
  font-size: var(--font-size-xs);
}
