:root {
  --main-text-color: #333333;
  --light-text-color: #9c9c9c;
  --main-color: #2c3878;
  --hover-on-main-color: #566093;
  --white: #ffffff;
  --outline-color: #3c3c3c;
  --outline-button-text-color: #333333;
  --outline-hover: #eaebf2;

  --font-size-xs: 14px;
  --font-size-xs: 16px;
  --font-size-s: 18px;
  --font-size-m: 24px;
  --font-size-l: 36px;
  --font-size-xl: 72px;
}
